---
import { getCollection } from 'astro:content';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

const posts = await getCollection('posts');
console.log(posts);

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	{posts.map(post => (
		<li><a href={`/posts/${post.slug}`}>{post.data.title}</a></li>
	  ))}
	<Welcome />
</Layout>
